.home-container {
  position: relative;
  padding: 20px;
  background-color: white;
 /*cooked*/
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
 /*cooked*/
}

.stellar-logo {
  width: 50px;
  height: auto;
 /*cooked*/
}

.main-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #4255FF;
  text-align: left;
  margin-left: 1rem;
  text-transform: uppercase;
 /*cooked*/
}

.highlight-quiz {
  color: #1F61E0;
  text-decoration: underline;
 /*cooked*/
}

.highlight-skills {
  color: #191970;
  font-weight: bold;
 /*cooked*/
}

.hero-image {
  width: 150px;
  height: auto;
 /*cooked*/
}

.navigation {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
 /*cooked*/
}

.content .hover-text {
  background-color: #4255FF;
  color: white;
  padding: 15px;
  border-radius: 8px;
 /*cooked*/
}

.long-star, .wide-star {
  position: absolute;
  pointer-events: none;
 /*cooked*/
}

.long-star {
  transform: rotate(45deg);
  height: 148.07px;
  width: 150.07px;
 /*cooked*/
}

.wide-star {
  transform: rotate(135deg);
  height: 107px;
  width: 107px;
 /*cooked*/
}
.titleHeroParent{
  position: relative;
}
.titleHeroChild{
  position: absolute;
  bottom: -18vh;
  left: 50%;
  transform: translate(-50%, -50%);
 /*cooked*/
}
.custShadow{
  transition-duration: 300ms;
  box-shadow: 1vh 1vh 3vh 0vh rgba(66, 85, 255, 0.4);
}
.custShadow:hover{
  scale: 105%;
  transition-duration: 300ms;
  box-shadow: 1vh 1vh 4vh 0vh rgba(66, 85, 255, 0.8);
}