.hover-text {
  color: #4255FF;
  cursor: pointer;
  transition: color 0.3s ease;
  font-family:'M PLUS Code Latin', sans-serif;
}

.hover-text:hover {
  color: #1F61E0;
  text-shadow: 0 0 5px rgba(31, 97, 224, 0.5);
  font-family:'M PLUS Code Latin', sans-serif;
}
