@font-face {
    font-family: "Main";
    src: url("/regular_main.ttf") format("truetype");
}

@font-face {
    font-family: "Bold";
    src: url("/bold_main.ttf") format("truetype");
}
:root {
    font-family: "Main", sans-serif !important;
}

.bold {
    font-family: "Bold", sans-serif !important;
}

.underline-animation {
    position: relative;
}

.underline-animation::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--accent);
    transition: width 0.3s ease-in-out;
}

.underline-animation:hover::before,
.underline-animation.active::before {
    width: 100%;
}

body {
    --sb-track-color: #ffffff;
    --sb-thumb-color: #191970;
    --sb-size: 9px;
}

body::-webkit-scrollbar {
    width: var(--sb-size);
}

body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 7px;
}

body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 7px;
    border: 1px solid #242c61;
}

@supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}
