@font-face {
    font-family: "Main";
    src: url("/regular_main.ttf") format("truetype");
}

@font-face {
    font-family: "Bold";
    src: url("/bold_main.ttf") format("truetype");
}
:root {
    font-family: "Main", sans-serif !important;
}

.bold {
    font-family: "Bold", sans-serif !important;
}

.underline-animation {
    position: relative;
}

.underline-animation::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--accent);
    transition: width 0.3s ease-in-out;
}

.underline-animation:hover::before,
.underline-animation.active::before {
    width: 100%;
}
